@charset "utf-8";
/* CSS Document */
.container{
	padding-top:1px;	
}
.banner{
	width:1035px;
	height:592px;
	margin:20px auto 0;
	overflow:hidden;
	margin-top:20px;
	position:relative;
}
.train{
	width:5500px;
	height:565px;
	top:0;
	left:0;
	position:absolute;
	z-index:1;
	-webkit-animation:move 15s infinite;
}
.chess{
	width:1060px;
	height:560px;	
	z-index:2;	
	position:absolute;
}
.chart{
	border:black 1px solid;
	width:92px;
	height:92px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-box-shadow:3px 3px 3px black;
}
div.banner div.train > div{
	width:1060px;
	height:565px;
	float:left;
	background-repeat:no-repeat;
	background-position:left top;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-size:cover;;
}
.img1{
	background-image:url(images/1.jpg);
}
.img2{
	background-image:url(images/2.jpg);
}
.img3{
	background-image:url(images/3.jpg);
}
.img4{
	background-image:url(images/4.jpg);
}
.img5{
	background-image:url(images/5.jpg);
}

/* #opa2{
	-webkit-animation:opacity 3s infinite;
	-webkit-animation-direction:alternate;
}
@-webkit-keyframes opacity
{
0%   {background:rgb(1,1,1); opacity:.8;transition-property:all 300ms}
25% {background:rgb(5,5,5); opacity:.7;transition-property:all 300ms}
50% {background:rgb(15,15,15); opacity:.5;transition-property:all 300ms}
65% {background:rgb(20,20,20); opacity:.3;transition-property:all 300ms}
70% {background:rgb(0,0,0); opacity:0;transition-property:all 300ms}
} */
@-webkit-keyframes move{
0% {left:0;}
20%{left:-1060px}
40%{left:-2120px}
60%{left:-3180px}
80%{left:-4240px}
100%{left:0}	
}